@using WebApplication3.Models
@using WebApplication3.Controllers

@model Event
@{
    ViewBag.Title = "EditEventAuthors";
}

@using (Html.BeginForm())
{

    <fieldset>
        <legend>Event</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label"><b>Event's Name</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
        </div>

        <div class="editor-label"><b>Description</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
        </div>
        <div class="editor-label"><b>Authors</b></div>
        @{
            List<Author> authors = ViewBag.Authors;
            foreach (Author c in authors)
            {
                <input type="checkbox" name="selectedCourses" value="@c.Id"
                       @(Model.Authors.Contains(c) ? "checked=\"checked\"" : "") />@c.Surname <br />
            }
        }


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
            }
