@model WebApplication3.Models.Author
@using WebApplication3.Models

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-left: 25px">Author`s Details</h2>

<div id="subscribe">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Events)
        </dt>
        <dd>
            
                @foreach (Event c in Model.Events)
                {
                    @c.Name <i>; </i>
                }
        </dd>
    </dl>
</div>
<p id="subscribe">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
